html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.btn {
  background-color: red;
  color: white;
}
.background-image {
    padding-top: 25px;
    background-image: url("images/hero.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
header .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding 0 15px;
}
.navbar-brand > img {
  display: block;
  margin: 0 0 5px 0;
}
.navbar-brand--sublogo {
  color: black;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  }


.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.hero {
  padding-top: 125px;
}
